/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5748ff;
  --ifm-color-primary-dark: #5748ff;
  --ifm-color-primary-darker: #5748ff;
  --ifm-color-primary-darkest: #5748ff;
  --ifm-color-primary-light: #5748ff;
  --ifm-color-primary-lighter: #5748ff;
  --ifm-color-primary-lightest: #5748ff;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5748ff;
  --ifm-color-primary-dark: #5748ff;
  --ifm-color-primary-darker: #5748ff;
  --ifm-color-primary-darkest: #5748ff;
  --ifm-color-primary-light: #5748ff;
  --ifm-color-primary-lighter: #5748ff;
  --ifm-color-primary-lightest: #5748ff;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
